<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aziz Maredia Portforlio</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">
    <link href="/css/glyphicon.css" rel="stylesheet">
</head>

<body>
    <Header class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="navLink"><a href="/views/index.html">HOME</a></li>
                    <li class="navLink"><a href="/views/resume.html">RESUME</a></li>
                </ul>
            </div>
        </div>
    </Header>

    <div class="container-fluid">
        <div class="row danceRow">
            <div class="img-responsive text-center col-xs-12 col-sm-4">
                <div class="dance"></div>
                <span class="btn btn-primary" id="danceBtn">I can dance</span>
            </div>

            <div class="quotes col-xs-12 col-sm-8 text-left">
                <p>The only way</p>
                <p class="diffcolor"><span class="color">to do</span> great</p>
                <p class="indent">work</p>
                <p class="big">is to <span class="small">love what</span></p>
                <p>you do.</p>
                <p class="small diffcolor">Steve Jobs</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4" id="contactInfo">
                <h2>Contact Info</h2>
                <span class="formRow">Name: Aziz Akbarali Maredia</span>
                <span class="formRow">Phone: (470)554-6078</span>
                <span class="formRow">Email: <a href="mailto:aziz.webjava1@gmail.com">aziz.webjava1@gmail.com</a></span>
                <span class="formRow">Address: Glenview, Illinois</span>
                <span class="formRow">Nationality: India</span>
            </div>
            <div class="col-sm-8 text-left">
                <h2>Who Am I?</h2>
                <p>Hello, My name is Aziz Maredia and I am from Mumbai India. I did my graduation in Engineering from Mumbai University. I like to play different sports like cricket, Soccer, ping-pong and enjoy adventourous activitites.</p>
                <p>I am a Senior Software Engineer currently located at Chicago Illinois. I do contract jobs for Flexera Global Inc. located at Houston TX. I have worked for clients like Hutch Communication, Walt Disney, Farmer's Insurance,FedEx in the past and currently working with Quill/Staples at Lincolnshire Illinois.</p>
            </div>
        </div>
        <div class="row">
            <h2>My Skill Matrix</h2>
            <div class="col-xs-12">
                <span class="col-xs-12 col-sm-3 mateix">HTML5</span>
                <div class="progressbar col-xs-12 col-sm-9">
                    <span class="progVal text-center ln95"> 9.5 / 10</span>
                </div>
            </div>
            <div class="col-xs-12">
                <span class="col-xs-12 col-sm-3 mateix">CSS 3</span>
                <div class="progressbar col-xs-12 col-sm-9">
                    <span class="progVal text-center ln95"> 9.5 / 10</span>
                </div>
            </div>
            <div class="col-xs-12">
                <span class="col-xs-12 col-sm-3 mateix">BOOTSTRAP</span>
                <div class="progressbar col-xs-12 col-sm-9">
                    <span class="progVal text-center ln90"> 9 / 10</span>
                </div>
            </div>
            <div class="col-xs-12">
                <span class="col-xs-12 col-sm-3 mateix">PHOTOSHOP</span>
                <div class="progressbar col-xs-12 col-sm-9">
                    <span class="progVal text-center ln80"> 8 / 10</span>
                </div>
            </div>
            <div class="col-xs-12">
                <span class="col-xs-12 col-sm-3 mateix">JAVASCRIPT</span>
                <div class="progressbar col-xs-12 col-sm-9">
                    <span class="progVal text-center ln85"> 8.5 / 10</span>
                </div>
            </div>
            <div class="col-xs-12">
                <span class="col-xs-12 col-sm-3 mateix">JQUERY</span>
                <div class="progressbar col-xs-12 col-sm-9">
                    <span class="progVal text-center ln90"> 9 / 10</span>
                </div>
            </div>
            <div class="col-xs-12">
                <span class="col-xs-12 col-sm-3 mateix">ANGULAR JS</span>
                <div class="progressbar col-xs-12 col-sm-9">
                    <span class="progVal text-center ln80"> 8 / 10</span>
                </div>
            </div>

        </div>

        <div class="row" id="clients">
            <h2>My Clients</h2>
            <div class="col-xs-12 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="/img/disney.png" alt="Walt Disney">
                </a>
            </div>
            <div class="col-xs-12 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="/img/FarmIns.png" alt="Farmers Insurance">
                </a>
            </div>
            <div class="col-xs-12 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="/img/FedEx.png" alt="FedEx">
                </a>
            </div>
            <div class="col-xs-12 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="/img/quill.png" alt="Quill">
                </a>
            </div>

        </div>
        <div class="row">
            <form class="form-horizontal" id="contactForm">
                <h2>Contact Me</h2>
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="name" id="name" placeholder="Jane Doe" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                    </div>
                </div>

                <div class="form-group">
                    <label for="compnayName" class="col-sm-2 control-label">Company Nane</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="companyName" id="companyName" placeholder="Flexera Global Inc.">
                    </div>
                </div>

                <div class="form-group">
                    <label for="title" class="col-sm-2 control-label">Title</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="title" id="title" placeholder="Manager">
                    </div>
                </div>

                <div class="form-group">
                    <label for="dept" class="col-sm-2 control-label">Department</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="dept" id="dept" placeholder="Human Resource">
                    </div>
                </div>

                <div class="form-group">
                    <label for="phNO" class="col-sm-2 control-label">Phone Number</label>
                    <div class="col-sm-10">
                        <input type="text" name="phNo" class="form-control" id="phNO" placeholder="(888)-888-8888">
                    </div>
                </div>

                <div class="form-group">
                    <label for="mobNo" class="col-sm-2 control-label">Mobile Number</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="mobNo" id="mobNo" placeholder="(888)-888-8888">
                    </div>
                </div>
                <div class="form-group">
                    <label for="faxNo" class="col-sm-2 control-label">Fax Number</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="faxNo" id="faxNo" placeholder="(888)-888-8888">
                    </div>
                </div>

                <div class="form-group">
                    <label for="message" class="col-sm-2 control-label">Message</label>
                    <div class="col-sm-10">
                        <textarea tabindex="3" class="form-control" name="mess" id="message" name="message"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <Footer>
        <div class="container">
            <!--<div class="col-sm-6 col-md-6">

            <div class="formRow">
              <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
              <span class="glyphicon-class">(470)554-6078</span>
            </div >
            <div class="formRow">
              <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
              <span class="glyphicon-class">azizmaredia@gmail.com</span>
            </div>
        </div>-->
            <div class="col-md=12 text-center">
                <h2>Follow Me</h2>
                <div>
                    <span class="facebook sIcon"></span>
                    <span class="googlePlus sIcon"></span>
                    <span class="linkedin sIcon"></span>
                    <span class="skype sIcon"></span>
                    <span class="twitter sIcon"></span>
                    <span class="github sIcon"></span>
                </div>
            </div>
        </div>
        <div class="text-center copyright">2015 Aziz Maredia, All Rights Resrved.</div>
    </Footer>

    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/common.js"></script>
</body>

</html>
